<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start" defaultHref="/tabs/characters" >
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ character?.title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="unfavoriteepisode()" *ngIf="isFavorite">
        <ion-icon name="star" slot="icon-only" color="warning"></ion-icon>
      </ion-button>
      <ion-button (click)="favoriteepisode()" *ngIf="!isFavorite">
        <ion-icon name="star-outline" slot="icon-only" color="warning"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content color="dark">
  <ion-card *ngIf="character" class="movie-card" color="dark">
  
    <ion-item color="dark">
      <ion-icon name="information-circle-outline" slot="start" color="warning"></ion-icon>
      Name: {{ character.name }} Character: {{ character.character_id }}
    </ion-item><ion-icon name="information-circle-outline" slot="start" color="warning"></ion-icon>
    <img src= "{{ character.img }}" height="700" margin-top="10%" style="float:right"> 
    <ion-item color="dark">
      <ion-icon name="calendar" slot="start" color="warning"></ion-icon>
      Birthday: {{ character.birthday }}
    </ion-item>
    <ion-item color="dark">
      <ion-icon name="laptop-outline" slot = "start" color = "warning"></ion-icon>
      Occupation: {{character.occupation}}
      </ion-item> 
      <ion-item color="dark">
        <ion-icon name="information-circle-outline" slot="start" color="warning"></ion-icon>
        Status: {{ character.status }} 
      </ion-item>
      <ion-item color="dark">
        <ion-icon name="information-circle-outline" slot="start" color="warning"></ion-icon>
        Nickname: {{ character.nickname }} 
      </ion-item>
  <ion-item color="dark">
    <ion-icon name="information-circle-outline" slot="start" color="warning"></ion-icon>
    Season appearance: {{ character.appearance }}  
  </ion-item>
    
  </ion-card>
</ion-content>
  


