<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start" defaultHref="/tabs/quotes">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ quote?.title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="unfavoriteepisode()" *ngIf="isFavorite">
        <ion-icon name="star" slot="icon-only" color="dark"></ion-icon>
      </ion-button>
      <ion-button (click)="favoriteepisode()" *ngIf="!isFavorite">
        <ion-icon name="star-outline" slot="icon-only" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content color="dark">
  <ion-card *ngIf="quote" class="movie-card">
    
    <ion-item color="dark">
      <ion-icon name="chatbubble-ellipses-outline" slot="start" color="warning"></ion-icon>
      Quote: {{ quote.quote }} Quote: {{ quote.quote_id }}
    </ion-item>
    <ion-item color="dark">
      <ion-icon name="person-circle-outline" slot="start" color="warning"></ion-icon>
      Author: {{ quote.author }}
    </ion-item>
    <ion-item color="dark">
      <ion-icon name="play-outline" slot = "start" color="warning"></ion-icon>
      Series: {{quote.series}}
      </ion-item>
     
  </ion-card>
</ion-content>
  


  
