<ion-tabs>
	<ion-tab-bar slot="bottom" color="dark">
		<ion-tab-button tab="episodes" id="tabitem">
			<ion-icon name="film" color= "success"id="tab1"></ion-icon>
			<ion-label color= "success"id="tab">Episodes</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="characters" id="tabitem">
			<ion-icon name="people" color= "success"id="tab1"></ion-icon>
			<ion-label color= "success"id="tab">Characters</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="quotes" id="tabitem">
			<ion-icon name="megaphone" color= "success"id="tab1"></ion-icon>
			<ion-label color= "success"id="tab">quotes</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="deaths" id="tabitem">
			<ion-icon name="skull" color= "success"id="tab1"></ion-icon>
			<ion-label color= "success"id="tab">Deaths</ion-label>
		</ion-tab-button>

	</ion-tab-bar>

</ion-tabs>